# Domain to provision SSL certificates for (e.g. gym.landon.pw)
# If running in development mode, will always use `localhost`
# This also sets the CORS origin for the backend API.
# Domain must be using Cloudflare DNS (TODO: add support for other DNS providers)
DOMAIN=localhost

# Cloudflare API token
# https://dash.cloudflare.com/profile/api-tokens with `Zone.DNS.Edit` and `Zone.DNS.Read` permissions
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token_here

# Secret used to sign JWT tokens. Change this to a random string in production.
# https://www.random.org/strings/?num=1&len=32&digits=on&upperalpha=on&loweralpha=on&unique=on&format=html&rnd=new
JWT_SECRET=change-me-in-production
